{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:jsonc/recommended-with-json",
    "plugin:mdx/recommended",
    "plugin:yml/recommended"
  ]
}
