{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:jsonc/recommended-with-json",
    "plugin:json-schema-validator/recommended",
    "plugin:mdx/recommended"
  ]
}
