enable-pre-post-scripts=true
; https://github.com/pkg-size/action/pull/45
; package-lock=false
public-hoist-pattern[]=@1stg/*
public-hoist-pattern[]=@pkgr/*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=json5
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=simple-git-hooks
strict-peer-dependencies=false
