name: CI

on:
  - push
  - pull_request

jobs:
  default:
    strategy:
      fail-fast: false
      matrix:
        node:
          - 16
          - 18
          - 20
        os:
          # - macOS-latest
          # - windows-latest # I don't have a Windows machine to debug
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup target Node.js to enable Corepack
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js ${{ matrix.node }} with cache
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
        env:
          YARN_IGNORE_NODE: 1

      - name: Install Dependencies
        run: yarn --immutable
        env:
          YARN_IGNORE_NODE: 1

      - name: Build, Lint and Test
        run: yarn run-s build lint test typecov
        env:
          EFF_NO_LINK_RULES: true
          PARSER_NO_WATCH: true
          YARN_IGNORE_NODE: 1
