name: CI

on:
  - push
  - pull_request

jobs:
  default:
    strategy:
      matrix:
        node:
          - 16
          - 18
        os:
          # - macOS-latest
          # - windows-latest # I don't have a Windows machine to debug
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Build, Lint and Test
        run: pnpm run-s build lint test typecov
        env:
          EFF_NO_LINK_RULES: true
          PARSER_NO_WATCH: true
