name: CI

on: [push, pull_request]

jobs:
  default:
    strategy:
      matrix:
        node:
          - 12
          - 14
          - 16
        os: [macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cach: yarn

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Build, Lint and Test
        run: yarn run-s build lint test typecov
        env:
          EFF_NO_LINK_RULES: true
          PARSER_NO_WATCH: true
